.AppPagi {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  border-style: none;
  background-image: url("./image/Arc (2).jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.AppSiang {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  border-style: none;
  background-image: url("./image/Arc (3).jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.AppMalam {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  border-style: none;
  background-image: url("./image/Arc (1).jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.timePagi {
  margin-top: 9.5rem;
  color: #305f72;
  font-size: 12vh;
  cursor: pointer;
}

.timeSiang {
  margin-top: 6.8rem;
  color: #275286;
  font-size: 12vh;
  cursor: pointer;
}

.timeMalam {
  margin-top: 9.5rem;
  color: #edecec;
  font-size: 12vh;
  cursor: pointer;
}

.tanggalPagi {
  font-size: x-large;
  color: rgb(62, 136, 201);
  position: relative;
  bottom: 6vh;
  cursor: pointer;
}

.tanggalSiang {
  font-size: x-large;
  color: #d4e6fc;
  position: relative;
  bottom: 6vh;
  cursor: pointer;
}

.tanggalMalam {
  font-size: x-large;
  color: #8ad5ee;
  position: relative;
  bottom: 6vh;
  cursor: pointer;
}

.dayPagi {
  color: dimgrey;
  position: relative;
  bottom: 6vh;
}

.daySiang {
  color: #f4ecbd;
  position: relative;
  bottom: 6vh;
}

.dayMalam {
  color: #31343c;
  position: relative;
  bottom: 6vh;
}

.cursor {
  position: fixed;
  width: 50px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.1s;
}

.cursor2 {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  left: 0;
  top: 0;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.15s;
}

.sign {
  position: absolute;
  margin: 2vh;
  right: 1.5vh;
  top: 0.5vh;
  padding: 1vh 5vh;
  font-size: 2vh;
  text-shadow: 2vh;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: whitesmoke;
  background-color: rgb(182, 181, 181);
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.sign:hover {
  background-color: grey;
}

.sign:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(3px);
}

.sectionInput {
  outline: none;
  position: absolute;
  margin: 1.3vh;
  border: none;
  top: 0.4vh;
  left: 0.6vh;
}

.submitTime {
  margin-left: 0.3vh;
  color: white;
  outline: none;
  border-radius: 5px;
  background-color: #999;
  cursor: pointer;
  box-shadow: 0 1px #666;
}

.submitTime:hover {
  background-color: #3e8e41;
}

.alrView {
  margin-top: 3.5vh;
  position: absolute;
  min-height: 90vh;
  min-width: 50vh;
  color: whitesmoke;
}

.timeAlarmBox {
  outline: none;
  position: relative;
  display: flex;
  border: none;
  top: 0.4vh;
  left: 0.6vh;
}

.delAlarm {
  font-size: 2vh;
  padding: 0.3vh;
  left: 2vh;
  top: 1.6vh;
  height: 2.95vh;
  position: relative;
  cursor: pointer;
  background-color: aliceblue;
  border-radius: 2vh;
}

.delAlarm:hover {
  background-color: rgb(170, 170, 170);
}

.delAlarm:active {
  background-color: red;
}

.stop {
  margin-left: 0.5vh;
  color: white;
  outline: none;
  border-radius: 7px;
  background-color: #999;
  cursor: pointer;
  box-shadow: 0 1px #666;
  min-height: 3.3vh;
}

.stop:hover {
  background-color: rgb(196, 49, 49);
}

select {
  margin-right: 0.55vh;
  padding: 0.3vh;
  height: auto;
  background-color: #666;
  color: #fcfcfc;
  width: auto;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 1px #999;
}

option {
  height: auto;
  border-radius: 10px;
  text-align: center;
}
